body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-button {
  display: inline-flex;
  align-items: center;
  font-size: 2vh;
  padding:5px;
  border: none;
  border-radius: 8px;
  background-color: #6e82e4;
  color: #fff;
  width:15%;
  height:5vh;
  margin:5px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.custom-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s;
}

input:hover,
input:focus {
  border-color: #007bff;
}

